
#app{
	width: 600px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0px 12px 65px rgba(32, 50, 98, .07);
	margin-top: 20%;
}

#app-content{
    background: #fff;
    padding: 20px 50px;
    color: #404553;
    margin-top: 5%;
}

#MultiSelectApp h3 {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 25px;
}

input[type="text"]:focus {
	outline: none;
}

input[type="text"] {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 10px 20px 30px;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #eee;
}
input[type="text"]::placeholder {
	color: #D4D2E1;
	font-family: 'Avenir';
	font-weight: 400;
}

.btn {
	background: #6A65FF;
	color: #fff;
	width: 100%;
	display: block;
	line-height: 70px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
}

.search-icon {
	color: #C1BFD3;
	position: absolute;
	top: 10px;
	left: 2px;
	font-size: 16px;
}

.user-list {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.user-list li {
	padding: 20px;
	cursor: pointer;
}

.user-list li:hover {
	background-color: #F9F9F9;
}

.user-list li img {
	width: 100%;
}

.user-image {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.user-list .user-data {
	padding-top: 2px;
	margin-left: 56px;
	position: relative;
}

.user-list .user-data h4 {
	font-size: 18px;
	font-weight: 500;
}

.user-list .user-data span {
	color: #A7ADBF;
	font-weight: 500;
}

.round-checkbox {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    top: 6px;
    right: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Create a custom checkbox */
.round-checkbox .checkmark {
    position: absolute;
    top: 25px;
    right: 20px;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 2px solid #0FCE8F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.round-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkmark.checked:after {
    display: block;
}

/* Style the checkmark/indicator */
.round-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #0FCE8F;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.user-data h4{
font-size: 30px;
}
.btn-read-problem{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.btn-read-problem:hover{
	background-color: rebeccapurple;
	color: white;
}
.closemodel{
	background-color: #4CAF50;
	border: none;
	color: white;
    padding: 4px 147px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.closemodel:hover{
	background-color: rebeccapurple;
}